* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

header,
footer {
    background-color: #fff;
    padding: 20px 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-list-a {
    display: block;
    unicode-bidi: isolate;
}

nav a {
    margin-left: 30px;
}

a {
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: #242424;
    font-size: 1em;
}

.logo-robby {
    margin-left: 30px;
}

.logo-robby:hover {
    opacity: 50%;
}

em {
    color: #a5b4fc;
    font-style: normal;
}

main {
    background-color: #1f2039;
}

#section-1-portfolio-explained h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}

#section-1-portfolio-explained a:hover {
    background-color: #8e86b5;
}

main #section-1-portfolio-explained {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
    padding: 80px;
    color: #fff;
}

main #section-2-pictures-grid h2 {
    text-align: center;
    margin-bottom: 80px;
}

main #section-2-pictures-grid {
    padding: 80px;
    background-color: #fff;
}

main #section-2-pictures-grid #grid-6-pictures {
    display: grid;
    grid-template-rows: repeat(2, 285px);
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
    padding:50px 0px 50px 0px;
  }

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
  }
  
  .form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }

main footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

footer .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-logo {
    display: flex;
    gap: 20px;
}