* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

header,
footer {
    background-color: #fff;
    padding: 20px 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-list-a {
    display: block;
    unicode-bidi: isolate;
}

#first-link:hover {
    text-decoration-line: underline;
}

#second-link:hover {
    text-decoration-line: underline;
}

#third-link:hover {
    text-decoration-line: underline;
}

nav a {
    margin-left: 30px;
}

a {
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: #242424;
    font-size: 1em;
}

.logo-robby {
    margin-left: 30px;
}

.logo-robby:hover {
    opacity: 50%;
}

em {
    color: #a5b4fc;
    font-style: normal;
}

main {
    background-color: #1f2039;
}

#div-introduction {
    width: 550px;
}

#section-1-portfolio-explained h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}

#div-introduction.a-link-transition {
    transition: all 0.5s ease;
}

#div-introduction.a-link-transition:hover {
    background-color: purple;
    color: white;
}

main #section-1-portfolio-explained {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
    padding: 80px;
    color: #fff;
}

main #section-2-pictures-grid h2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

main #section-2-pictures-grid {
    padding: 80px;
    margin: 0px;
    background-color: #fff;
}

main #section-2-pictures-grid #grid-6-pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    width: 75%;
}

.section-contact h2 {
    color: #d1cdff;
    text-align: center;
    margin-bottom: 50px;
    padding: 50px 0px 0px 0px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

label {
    margin-bottom: 10px;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

main footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

footer .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-logo {
    display: flex;
    gap: 20px;
}

.cta {
    border-radius: 50px;
    transition: all 0.5s ease;
}

.cta:hover {
    background-color: #bcb6ff;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1102px) {


    main #section-1-portfolio-explained {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        align-items: flex-start;
        margin: auto;
        padding: 80px;
        color: #fff;
    }

    #robbie-lens-size {
        height: 100%;
        width: 100%;
        margin: auto auto 50px auto;
    }

    #div-introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
    }

    #grid-6-pictures {
        margin: 0;
        display: center;
        justify-content: center;
    }

    footer {
        padding: 15px;
    }
}

@media screen and (min-width: 2079px) {
    div#grid-6-pictures {
        width: 50%;
        padding-left: 10%;
    }
}

@media screen and (max-width: 545px) {
}

@media screen and (max-width: 1583px) {
    #contact .section-contact {
        width: 100%;
    }
}
